{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_tags %}
{% block title %}
{% load static %}
{% trans 'Homepage' %}
{% endblock title %}

{% block content %}
{% include 'input_output.html' %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<h1><i>{% trans 'Welcome to the news portal' %}!</i></h1>
    <h3>{% current_time %}</h3>
<img src="https://lms.skillfactory.ru/assets/courseware/v1/6dd783a5caf346ea6b025a4db2de76df/asset-v1:SkillFactory+PDEV+2021+type@asset+block/FPW_D.2_project.svg"
     width="800" height="800">
{% endblock content %}
