{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block content %}
{% include 'input_output.html' %}
<h2><span style="color: #1616f6;">{% trans 'Delete post' %} {% trans '#' %} {{ object.id }}</span></h2>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p><h4>{% trans 'After confirmation' %} {{ object.get_post_type_display }}:</h4>
        <h5><span style="color: #1616f6;"><i>"{{ object.post_title }}"</i></span></h5>
    <p><h4><span style="color: orangered;">{% trans 'will be deleted' %}</span></h4>
    <br>
    <input class="btn btn-danger btn-sm " type="submit" value="{% trans 'Delete' %}"/>&emsp;&emsp;<a href="{% url 'post_detail' object.id %}" class="btn btn-primary btn-sm">{% trans 'Cancel' %}</a>
</form>
{% endblock content %}