{% extends 'flatpages/default.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load spurl %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Search' %}
{% endblock title %}

{% block content %}
<nav class="fixed-top" style="background-color: #ecf0f3; margin-top: 56px">
{% include 'input_output.html' %}
{% if not_search %}
<h3>{% trans 'Select search filters' %}</h3>
{% else %}
<h3>{% trans 'Number of publications on request' %}: <span style="color: orangered;">{{ page_obj.paginator.count }}</span><a href="{% url 'post_search' %}" class="btn btn-warning btn-sm" style="margin-left: 20px">{% trans 'Reset all filters' %}</a></h3>
{% endif %}
<div class="d-flex justify-content-center" style="margin-left: 125px">
    <div class="row">
        <div class="col-lg-12 text-center">
<form action="" method="get">
    <div class="row">
      <div class="form-group col-md-auto mb-0">
        {{ filterset.form.search_title|as_crispy_field }}
      </div>
      <div class="form-group col-md-auto mb-0">
        {{ filterset.form.search_text|as_crispy_field }}
      </div>
        <div class="form-group col-md-1 mb-0">
        {{ filterset.form.search_rating|as_crispy_field }}
      </div>
      <div class="form-group col-md-auto mb-0">
        {{ filterset.form.search_author|as_crispy_field }}
      </div>
      <div class="form-group col-md-auto mb-0">
        {{ filterset.form.search_category|as_crispy_field }}
      </div>
        <div class="form-group col-md-auto mb-0">
        {{ filterset.form.search_type|as_crispy_field }}
      </div>
      <div class="form-group col-md-auto mb-0">
        {{ filterset.form.post_date|as_crispy_field }}
      </div>
      <button class="btn btn-success btn-sm" style="width: 80px; height: 36px; margin-top: 25px" type="submit"><span class="icon"><i class="fa fa-search"></i></span> {% trans 'Search' %}</button>
    </div>
</form>
        </div>
    </div>
</div>
</nav>
<div style="margin-top: 160px">
<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
<div class="card-body little-profile text-center">
{% if posts %}
{% for post in posts %}
<br>
    <div class="class=m-b-0 font-medium btn-rounded">
        <font size="4">
            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
<table width="100%" border="0">
    <tr>
        <td align="right"><i>{% if post.post_rating > 3 %}
            <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
            {% elif post.post_rating > 0 %}
            <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
            {% else %}
            <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
            </i>
            {% endif %}
        </td>
    </tr>
</table>
</font>
<table style="width: 1420px;" width="100%" border="0">
    <tr>
        <td align="justify">
            <font size="3"><span class="icon"><i class="fa fa-user"></i></span>&ensp;
            <i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
            {% if post.author.author_rating > 9 %}
            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
            {% elif post.author.author_rating > 0 %}
            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
            {% else %}
            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
            </i>
            {% endif %}
            <br>
            <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
            <br>
            <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
            {% for category in post.post_category.all %}
            <a href="{% url 'category_list' category.id %}" style="text-decoration: none;">{{ category }}</a>
            {% endfor %}
            <br>
                <span style="color: green;"><span class="icon"><i class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
             <br>
            </font>
            <br>
        <font size="4">
            <span style="color: brown;"><span class="icon"><i class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:10|censor }}</span> <i><a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;">
            <span class="icon"><i class="fa fa-book"></i></span>&nbsp;{% trans 'Read completely' %}</a></i>
        </font>
        </td>
    </tr>
</table>
        </div>
<p></p>
{% endfor %}
{% elif not_search %}
<img src="https://lms.skillfactory.ru/assets/courseware/v1/6dd783a5caf346ea6b025a4db2de76df/asset-v1:SkillFactory+PDEV+2021+type@asset+block/FPW_D.2_project.svg"
     width="800" height="800">
{% else %}
<h2>{% trans 'No publications' %}!</h2>
{% endif %}
</div>
</div>
{% if paginator.num_pages > 1 %}
{% if page_obj.has_previous %}
<a href="{% spurl query=request.GET set_query='page={{ 1 }}'%}">{{ 1 }}</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="{% spurl query=request.GET set_query='page={{ page_obj.previous_page_number }}'%}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="{% spurl query=request.GET set_query='page={{ page_obj.next_page_number }}'%}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="{% spurl query=request.GET set_query='page={{ page_obj.paginator.num_pages }}'%}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock content %}
