{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}
{% load i18n %}
{% load tz %}
{% block title %}
Publications
{% endblock title %}

{% block content %}
<nav class="fixed-top" style="background-color: #ecf0f3; margin-top: 56px">
{% include 'input_output.html' %}
    <p style="">
{% for cat in categories %}
<a style="margin-top: 10px" class="btn btn-dark btn-sm" href="{% url 'category_list' cat.id %}">{{ cat }}</a>
{% endfor %}
    </p>
</nav>
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<h4 style="margin-top: 20px">{% trans 'Top publications' %}</h4>
<div class="page-content page-container" id="page-content">
    <div class="no-padding">
        <div class="d-flex justify-content-center">
            <div class="col-lg-12 col-xlg-4">
                <div>
                    <div class="little-profile text-center">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 p-20 b-r">
                                    {% if posts %}
                                    {% for post in posts|slice:":1" %}
                                    <div class="col-lg-12 font-medium btn-rounded" style="margin-top: 20px">
                                        <font size="2">
                                            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td align="right">
                                                        <i>{% if post.post_rating > 3 %}
                                                        <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% elif post.post_rating > 0 %}
                                                        <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% else %}
                                                        <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
                                                    </i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </font>
                                        <table style="width: 550px;" width="100%" border="0">
                                            <tr>
                                                <td align="justify">
                                                    <font size="2"><span class="icon"><i class="fa fa-user"></i></span>&ensp;
                                                        <i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
                                                            {% if post.author.author_rating > 9 %}
                                                            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% elif post.author.author_rating > 0 %}
                                                            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% else %}
                                                            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                        </i>
                                                        {% endif %}
                                                        <br>
                                                        <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
                                                        <br>
                                                        <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
                                                        {% for category in post.post_category.all %}
                                                        <a href="{% url 'category_list' category.id %}" style="text-decoration: none;">"{{ category }}"</a>
                                                        {% endfor %}
                                                        <br>
                                                        <span style="color: green;"><span class="icon"><i class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
                                                        <br>
                                                        <span style="color: brown;"><span class="icon"><i class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:8|censor }}</i></span>
                                                        <br>
                                                        <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;"><span class="icon"><i class="fa fa-book"></i></span><i>&nbsp;{% trans 'Read completely' %}</i></a>
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>{% trans 'No publications' %}!</h2>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 p-20 b-r">
                                    {% if posts %}
                                    {% for post in posts|slice:"1:2" %}
                                    <div class="col-lg-12 font-medium btn-rounded" style="margin-top: 20px">
                                        <font size="2">
                                            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td align="right"><i>{% if post.post_rating > 3 %}
                                                        <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% elif post.post_rating > 0 %}
                                                        <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% else %}
                                                        <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
                                                    </i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </font>
                                        <table style="width: 550px;" width="100%" border="0">
                                            <tr>
                                                <td align="justify">
                                                    <font size="2"><span class="icon"><i class="fa fa-user"></i></span>&ensp;
                                                        <i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
                                                            {% if post.author.author_rating > 9 %}
                                                            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% elif post.author.author_rating > 0 %}
                                                            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% else %}
                                                            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                        </i>
                                                        {% endif %}
                                                        <br>
                                                        <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
                                                        <br>
                                                        <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
                                                        {% for category in post.post_category.all %}
                                                        <a href="{% url 'category_list' category.id %}" style="text-decoration: none;">"{{ category }}"</a>
                                                        {% endfor %}
                                                        <br>
                                                        <span style="color: green;"><span class="icon"><i class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
                                                        <br>
                                                        <span style="color: brown;"><span class="icon"><i class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:8|censor }}</i></span>
                                                        <br>
                                                        <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;" class="left">
                                                            <span class="icon"><i class="fa fa-book"></i></span><i>&nbsp;{% trans 'Read completely' %}</i></a>
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>{% trans 'No publications' %}!</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 p-20 b-r">
                                    {% if posts %}
                                    {% for post in posts|slice:"2:3" %}
                                    <div class="col-lg-12 font-medium btn-rounded" style="margin-top: 20px">
                                        <font size="2">
                                            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td align="right"><i>{% if post.post_rating > 3 %}
                                                        <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% elif post.post_rating > 0 %}
                                                        <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% else %}
                                                        <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
                                                    </i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </font>
                                        <table style="width: 550px;" width="100%" border="0">
                                            <tr>
                                                <td align="justify">
                                                    <font size="2"><span class="icon"><i class="fa fa-user"></i></span>&ensp;<i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
                                                            {% if post.author.author_rating > 9 %}
                                                            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% elif post.author.author_rating > 0 %}
                                                            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% else %}
                                                            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                        </i>
                                                        {% endif %}
                                                        <br>
                                                        <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
                                                        <br>
                                                        <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
                                                        {% for category in post.post_category.all %}
                                                        <a href="{% url 'category_list' category.id %}" style="text-decoration: none;">"{{ category }}"</a>
                                                        {% endfor %}
                                                        <br>
                                                        <span style="color: green;"><span class="icon"><i class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
                                                        <br>
                                                        <span style="color: brown;"><span class="icon"><i class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:8|censor }}</i></span>
                                                        <br>
                                                        <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;" class="left">
                                                            <span class="icon"><i class="fa fa-book"></i></span><i>&nbsp;{% trans 'Read completely' %}</i></a>
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>{% trans 'No publications' %}!</h2>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 p-20 b-r">
                                    {% if posts %}
                                    {% for post in posts|slice:"3:4" %}
                                    <div class="col-lg-12 font-medium btn-rounded" style="margin-top: 20px">
                                        <font size="2">
                                            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td align="right">
                                                        <i>{% if post.post_rating > 3 %}
                                                            <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% elif post.post_rating > 0 %}
                                                        <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% else %}
                                                        <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
                                                    </i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </font>
                                        <table style="width: 550px;" width="100%" border="0">
                                            <tr>
                                                <td align="justify">
                                                    <font size="2"><span class="icon"><i class="fa fa-user"></i></span>&ensp;
                                                        <i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
                                                            {% if post.author.author_rating > 9 %}
                                                            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% elif post.author.author_rating > 0 %}
                                                            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% else %}
                                                            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                        </i>
                                                        {% endif %}
                                                        <br>
                                                        <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
                                                        <br>
                                                        <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
                                                        {% for category in post.post_category.all %}
                                                        <a href="{% url 'category_list' category.id %}" style="text-decoration: none;">"{{ category }}"</a>
                                                        {% endfor %}
                                                        <br>
                                                        <span style="color: green;"><span class="icon"><i class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
                                                        <br>
                                                        <span style="color: brown;"><span class="icon"><i
                                                                class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:8|censor }}</i></span>
                                                        <br>
                                                        <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;" class="left">
                                                            <span class="icon"><i class="fa fa-book"></i></span><i>&nbsp;{% trans 'Read completely' %}</i></a>
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>{% trans 'No publications' %}!</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 p-20 b-r">
                                    {% if posts %}
                                    {% for post in posts|slice:"4:5" %}
                                    <div class="col-lg-12 font-medium btn-rounded" style="margin-top: 20px">
                                        <font size="2">
                                            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td align="right"><i>{% if post.post_rating > 3 %}
                                                        <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% elif post.post_rating > 0 %}
                                                        <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% else %}
                                                        <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
                                                    </i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </font>
                                        <table style="width: 550px;" width="100%" border="0">
                                            <tr>
                                                <td align="justify">
                                                    <font size="2"><span class="icon"><i class="fa fa-user"></i></span>&ensp;
                                                        <i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
                                                            {% if post.author.author_rating > 9 %}
                                                            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% elif post.author.author_rating > 0 %}
                                                            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% else %}
                                                            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                        </i>
                                                        {% endif %}
                                                        <br>
                                                        <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
                                                        <br>
                                                        <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
                                                        {% for category in post.post_category.all %}
                                                        <a href="{% url 'category_list' category.id %}"
                                                           style="text-decoration: none;">"{{ category }}"</a>
                                                        {% endfor %}
                                                        <br>
                                                        <span style="color: green;"><span class="icon"><i
                                                                class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
                                                        <br>
                                                        <span style="color: brown;"><span class="icon"><i class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:8|censor }}</i></span>
                                                        <br>
                                                        <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none;" class="left">
                                                            <span class="icon"><i class="fa fa-book"></i></span><i>&nbsp;{% trans 'Read completely' %}</i></a>
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>{% trans 'No publications' %}!</h2>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 p-20">
                                    {% if posts %}
                                    {% for post in posts|slice:"5:6" %}
                                    <div class="col-lg-12 font-medium btn-rounded" style="margin-top: 20px">
                                        <font size="2">
                                            <i><a href="{% url 'type_list' post.post_type %}">{{ post.get_post_type_display|title }}</a> {% trans '#' %} <span style="color: orangered;">{{ post.pk }}</span></i>
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td align="right"><i>{% if post.post_rating > 3 %}
                                                        <span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% elif post.post_rating > 0 %}
                                                        <span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.post_rating }}
                                                        {% else %}
                                                        <span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.post_rating }}
                                                    </i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </font>
                                        <table style="width: 550px;" width="100%" border="0">
                                            <tr>
                                                <td align="justify">
                                                    <font size="2"><span class="icon"><i class="fa fa-user"></i></span>&ensp;
                                                        <i><a href="{% url 'profile_detail' post.author.user.id %}" style="text-decoration: none;">{{ post.author }}</a>
                                                            {% if post.author.author_rating > 9 %}
                                                            (<span class="icon"><i class="fa fa-star"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% elif post.author.author_rating > 0 %}
                                                            (<span class="icon"><i class="fa fa-star-half-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                            {% else %}
                                                            (<span class="icon"><i class="fa fa-star-o"></i></span>&nbsp;{{ post.author.author_rating }})
                                                        </i>
                                                        {% endif %}
                                                        <br>
                                                        <span class="icon"><i class="fa fa-calendar"></i></span>&ensp;<i>{{ post.date_creation }}</i>
                                                        <br>
                                                        <span class="icon"><i class="fa fa-flag"></i></span>&nbsp;
                                                        {% for category in post.post_category.all %}
                                                        <a href="{% url 'category_list' category.id %}" style="text-decoration: none;">"{{ category }}"</a>
                                                        {% endfor %}
                                                        <br>
                                                        <span style="color: green;"><span class="icon"><i class="fa fa-file-text"></i></span>&ensp;<i>{{ post.post_title }}</i></span>
                                                        <br>
                                                        <span style="color: brown;"><span class="icon"><i class="fa fa-align-left"></i></span>&ensp;<i>{{ post.post_text|truncatewords:8|censor }}</i></span>
                                                        <br>
                                                        <a href="{% url 'post_detail' post.pk %}"
                                                           style="text-decoration: none;" class="left">
                                                            <span class="icon"><i class="fa fa-book"></i></span><i>&nbsp;{% trans 'Read completely' %}</i></a>
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>{% trans 'No publications' %}!</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}