<!DOCTYPE html>
{% load i18n %}
{% load tz %}
{% load cache %}
<html lang="en">
{% cache 30 head %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no justify-content-between"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400">
</head>
{% endcache %}
<body style="background-color: #ecf0f3; margin: 32px">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container" style="width: 800px">
    {% cache 30 nav1 %}
        <a class="navbar-brand" href="/"><span style="color: #039BE5; ">News Portal</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endcache %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
            {% cache 30 nav2 %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'top_list' %}">{% trans 'Main' %}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post_list' %}">{% trans 'Publications' %}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post_search' %}">{% trans 'Search' %}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post_create' %}">{% trans 'News +' %}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'articles_create' %}">{% trans 'Article +' %}</a>
                </li>
            {% endcache %}
                <li class="nav-item active">
                    {% if request.user.is_superuser %}
                        <a class="nav-link" href="/admin/">{% trans 'Admin panel' %}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="width: 450px">
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active" style="margin-top: 8px;">
                    <form action="{% url 'set_language' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_to }}">
                        <label for="language"><span style="color: #adb5bd;">{% trans 'Language' %}: </span></label>
                        <select name="language" id="language" onchange="this.form.submit();">
                            <option value="none" hidden="">{% trans 'English' %}</option>
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %}
                                        selected
                                        {% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
                <li class="nav-item active">
                    &ensp;
                </li>
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                        <a class="nav-link"><span style="color: orangered;">{{ request.user.username }}</span></a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                    {% else %}
                        <a class="nav-link" href='{% url "account_login" %}'>{% trans 'Login' %}</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if not user.is_authenticated %}
                        <a class="nav-link" href='{% url "account_signup" %}'>{% trans 'Signup' %}</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href='{% url "account_logout" %}'>{% trans 'Logout' %}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center flexContainer" style="background-color: rgba(0, 0, 0, 0.0);">
            <br>
            {% block content %}
            {% endblock content %}
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="?page=1">1</a>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}

                {{ page_obj.number }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>

